html,body {
  margin: 0px;
  overflow-y:hidden;
  overflow-x:hidden;
  font-family:monospace;
}

.window{
    width:100vw;
    height:100vh;
    z-index: 0;
    background-color: black;
}

.headerWindow{
    width:100vw;
    height:60vh;
}

.siteTitle{
    font-size: 10vh;
    color:white;
    margin:auto;
    display: flex;
    justify-content: center;
    transform:translate(0, 4vh);
}

.scrollWindow{
    width:100vw;
    height:40vh;
    background-color: black;
    position:flex;
    display:flex;
    margin-bottom: 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.gameButton{
    height: 100%;
    width: 100%;
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    z-index: 999;
    scroll-snap-align: center;
    border-radius: 25px;
}

#leftArrow {
    width: 3vw;
    height: 50%;
    background-image: url('./Images/leftArrow.png');
    background-size: 100% 100%;
    border: 0;
    z-index: 999;
    margin-left: 1vw;
    margin-right: 1vw;
}

#leftSmall {
    width:6vw;
    aspect-ratio: 2/1;
    margin-right:1vw;
}

#leftMedium {
    width: 20vw;
    aspect-ratio: 2/1;
    margin-right:1vw;
}

#middle {
    width:34vw;
    aspect-ratio: 2/1;
    margin-right:1vw;
}

#rightMedium {
    width: 20vw;
    aspect-ratio: 2/1;
    margin-right:1vw;
}

#rightSmall {
    width:6vw;
    aspect-ratio: 2/1;
    margin-right:1vw;
}

#rightArrow {
    width: 3vw;
    height: 50%;
    background-image: url('./Images/rightArrow.png');
    background-size: 100% 100%;
    border: 0;
    z-index: 999;
    margin-right:1vw;
}

#checkersButton{
    background-image: url("./Images/CheckersBanner.jpg");
    background-size: 100% 100%;
    border:0;
}

#ticTacToeButton{
    background-image: url("./Images/TicTacToeBanner.jpg");
    background-size: 100% 100%;
    border:0;
}

#snakeButton{
    background-image: url("./Images/SnakeBanner.jpg");
    background-size: 100% 100%;
    border:0;
}

.scrollWindow::-webkit-scrollbar {
    display: none;
}

#arcadeLogo {
    height: 20vh;
    aspect-ratio: 1/1;
    background-image: url("./Images/ArcadeLogo.png");
    background-size: 100% 100%;
    border: 0;
    margin: auto auto;
    transform: translateY(5vh);
}