html,body {
  margin: 0px;
  overflow-y:hidden;
  overflow-x:hidden;
  font-family:monospace;
}

.window{
    width:100vw;
    height:100vh;
    z-index: 0;
    background-color: black;
}

.headerWindow{
    width:100vw;
    height:60vh;
}

.siteTitle{
    font-size: 10vh;
    color:white;
    margin:auto;
    display: flex;
    justify-content: center;
    transform:translate(0, 4vh);
}

.scrollWindow{
    width:100vw;
    height:40vh;
    background-color: black;
    position:flex;
    display:inline-block;
    margin-bottom: 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.gameButton{
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    z-index: 999;
    margin: auto 10vw;
    scroll-snap-align: center;
    border-radius: 25px;
}

#checkersButton{
    height:100%;
    background-image: url("./Images/CheckersBanner.jpg");
    background-size: 100% 100%;
    border:0;
    aspect-ratio: 2/1;
}

#ticTacToeButton{
    height:100%;
    background-image: url("./Images/TicTacToeBanner.jpg");
    background-size: 100% 100%;
    border:0;
    aspect-ratio: 2/1;
}

#snakeButton{
    height:100%;
    background-image: url("./Images/SnakeBanner.jpg");
    background-size: 100% 100%;
    border:0;
    aspect-ratio: 2/1;
}

.scrollWindow::-webkit-scrollbar {
    display: none;
}

#arcadeLogo {
    height: 20vh;
    aspect-ratio: 1/1;
    background-image: url("./Images/ArcadeLogo.png");
    background-size: 100% 100%;
    border: 0;
    margin: auto auto;
    transform: translateY(5vh);
}