html,body {
  margin: 0px;
  overflow-y:hidden;
  overflow-x:hidden;
}

.window{
    width:100vw;
    height:100vh;
    z-index: 0;
    background-color: black;
}

.headerWindow{
    width:100vw;
    height:20vh;
}

.siteTitle{
    font-size: 10vh;
    color:white;
    margin:auto;
    display: flex;
    justify-content: center;
    transform:translate(0, 4vh);
}

.scrollWindow{
    width:100vw;
    height:80vh;
    background-color: black;
    position:flex;
    display:inline-block;
    margin-bottom: 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.gameButton{
    height:90%;
    width:90%;
    cursor: pointer;
    display:inline-block;
    vertical-align:top;
    z-index: 999;
    margin: auto 10vw;
    scroll-snap-align: center;
    border-radius: 25px;
}

#checkersButton{
    background-image: url("./Images/CheckersBanner.jpg");
    background-size: 100% 100%;
    border:0;
}

#battleshipButton{
    background-image: url("./Images/BattleshipBanner.jpg");
    background-size: 100% 100%;
    border:0;
}

.scrollWindow::-webkit-scrollbar {
    display: none;
}
